Source: linkorganizer
Maintainer: Italo Pessoa <italoneypessoa@gmail.com>
Section: web
Priority: optional
Version: 1.0.3
Standards-Version: 1.0.1
Depends: bash (>= 4.1), youtube-dl (>= 2011.08.04), python (>= 2.6.5), sed (>= 4.2.1), grep (>= 2.5.4), coreutils (>= 7.4)
Build-Depends: debhelper (>= 7.0.50~)
Homepage: http://rg3.github.com/youtube-dl/

Package: linkorganizer
Installed-Size: 120
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Conjunto de scripts para auxiliar 
	na organização de downloads de vídeos com youtube-dl.
