#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	install -d debian/linkorganizer/usr/bin
	install -d debian/linkorganizer/usr/lib/lo
	install -d debian/linkorganizer/usr/share/applications
	install -d debian/linkorganizer/usr/share/icons
	install -d debian/linkorganizer/usr/share/doc/linkorganizer
	cp linkorganizer/usr/bin/lo debian/linkorganizer/usr/bin
	cp linkorganizer/usr/lib/lo/1A debian/linkorganizer/usr/lib/lo
	cp linkorganizer/usr/lib/lo/checkVideos.sh debian/linkorganizer/usr/lib/lo
	cp linkorganizer/usr/lib/lo/COPYING debian/linkorganizer/usr/lib/lo
	cp linkorganizer/usr/lib/lo/download_process.sh debian/linkorganizer/usr/lib/lo
	cp linkorganizer/usr/lib/lo/get-clipboard.py debian/linkorganizer/usr/lib/lo
	cp linkorganizer/usr/lib/lo/get-data.sh debian/linkorganizer/usr/lib/lo
	cp linkorganizer/usr/lib/lo/get-format.sh debian/linkorganizer/usr/lib/lo
	cp linkorganizer/usr/lib/lo/link-organizer-2.0.sh debian/linkorganizer/usr/lib/lo
	cp linkorganizer/usr/lib/lo/ol-1.1.0.sh debian/linkorganizer/usr/lib/lo
	cp linkorganizer/usr/lib/lo/setup.sh debian/linkorganizer/usr/lib/lo
	cp linkorganizer/usr/lib/lo/utils.sh debian/linkorganizer/usr/lib/lo
	cp linkorganizer/usr/share/applications/link-organizer.desktop debian/linkorganizer/usr/share/applications
	cp linkorganizer/usr/share/icons/linkorganizer.png debian/linkorganizer/usr/share/icons
	#gzip -9 -c debian/NEWS > debian/linkorganizer/usr/share/doc/linkorganizer/NEWS.gz
	gzip -9 -c debian/THANKS > debian/linkorganizer/usr/share/doc/linkorganizer/THANKS.gz

override_dh_installman:
	pod2man debian/lo.pod > debian/lo.1
	dh_installman

