Package: linkorganizer
Priority: optional
Version: 1.0.3
Section: multimedia
Architecture: all
Depends: bash (>= 4.1), youtube-dl (>= 2011.08.04), python (>= 2.6.5), sed (>= 4.2.1), grep (>= 2.5.4), coreutils (>= 7.4)
Installed-Size: 120
Maintainer: Italo Pessoa<italoneypessoa@gmail.com>
Description: Conjunto de scripts para auxiliar 
 na organização de downloads de vídeos com youtube-dl.
